<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- Ajoutez les autres champs de formulaire de la même manière -->
  <table>
    <tr>
      <td>Structure</td>
      <td>Ref</td>
    </tr>
    <tr>
      <td>
        <p>Organes de fixation et d’assemblage</p>
        <br>
        <p>Eléments de guidage et d’articulation</p>
      </td>
      <td>
        <mat-form-field appearance="outline">
          <mat-label>Structure</mat-label>
          <input matInput formControlName="organe" required />
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Structure</mat-label>
          <input matInput formControlName="organe" required />
        </mat-form-field>
      </td>
    </tr>
  </table>
  <mat-form-field appearance="outline">
    <mat-label>Organe</mat-label>
    <input matInput formControlName="organe" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>tablier</mat-label>
    <input matInput formControlName="organe" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>mecanisme</mat-label>
    <input matInput formControlName="organe" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>dispoArretMaintien</mat-label>
    <input matInput formControlName="organe" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>dispoSecu</mat-label>
    <input matInput formControlName="organe" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>manoeuvre</mat-label>
    <input matInput formControlName="organe" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>signalisation</mat-label>
    <textarea matInput></textarea>
    <input matInput formControlName="organe" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>equipementElect</mat-label>
    <input matInput formControlName="organe" required />
  </mat-form-field>



  <!-- ... -->

  <button mat-raised-button color="primary" type="submit">Envoyer</button>
</form>
